<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="cart">Cart({{ cart }})</div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- // <img v-bind:src="image" alt=""> -->
            <img :src="image" :alt="description" :class="{ 'out-of-stock-img': !inStock }">
          </div>
          <div class="product-info">
            <h1>{{ title }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <ul>
              <!-- ! running through the array and prints out each element individually -->
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <!-- ! by using the v-bind directive with key atribute. We are tying the variant's id -->
            <!-- ! assign the variant color to each circle on hover through style -->
            <div 
              v-for="variant in variants" 
              :key="variant.id" 
              @mouseover="updateImage(variant.image)"
              class="color-circle"
              :style="{ backgroundColor: variant.color }"
            >
            </div>
            <ul>
              <li v-for="size in sizes">
                {{ size }}
              </li>
            </ul>
            <!-- Alternative Stock conditional
              / Will only render inStock if v-if is truthy
              <p v-if="inventory > 10">In Stock</p>
              <p v-else-if="inventory < 10 && inventory > 0">Stock Running Out!</p>
              <p v-else>Out of Stock</p>
            -->
            <!-- ! hides content instead of removing and adding content -->
            <p v-show="onSale">On Sale</p>
            <a :href="url">More info here</a>
            <!-- ! v-on listens for an event. It is equal to the method name -->
            <!-- ! Can add a class based on condition of a certain class thorough v-binding to a class and expressions -->
            <!-- // <button class="button" v-on:click="addToCart">Add to Cart</button> -->
            <button 
              class="button"
              :class="{ disabledButton: !inStock }" 
              :disabled="!inStock"
              @click="addToCart"
            >
              Add to Cart
            </button>
            <button class="button" @click="removeFromCart" :disabled="isActive">Remove form Cart</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
